:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: scroll;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
}

.layout {
  display: flex;
  flex-direction: row;
}

.logo-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 1.5rem;

  border: 1px solid #eff1f6;
  border-bottom: none;
  width: 16rem;
  height: 45rem;
}

.logo {
  margin-left: 0.75rem;
}

.sidebar-list1 {
  margin-top: 2rem;
  margin-left: 1rem;
  list-style: none;
  font-size: small;
  font-weight: 100;
}

.sidebar-list2 {
  margin: 1rem;
  list-style: none;
}

.sidebar-owner {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding-top: 5rem;
}

.owner-name {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  font-weight: 100;
}

.owner-horiz {
  margin-left: auto;
}

.image-title {
  margin-right: 0.6rem;
}

.subContent {
  margin-bottom: 2rem;
  font-size: large;
  font-weight: 100;
}

.firstTitle {
  color: #ff5403;
  font-size: larger;
  font-weight: 600;
}

.nav {
  padding-top: 1.4rem;
  padding-left: 3rem;
  font-weight: 100;
  font-size: smaller;
}

.dashboard-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.headers {
  display: flex;
  flex-direction: column;
}

.headers-word {
  padding-top: 0.6rem;
  padding-left: 0.2rem;
  font-size: smaller;
}

.headers-analytics {
  /* margin-left: 35rem; */
  display: flex;
  /* justify-content: flex-end; */
  margin-right: 3.7rem;
}

.word-analytics {
  color: #ff5403;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;

  list-style: none;
  font-size: small;
  font-weight: 100;
}

.days-list {
  margin: 0.61rem;
  border: 1px solid #eff1f6;
  border-radius: 100px;
  padding: 0.5rem;
}

.fourthTitle {
  color: #ff5403;
  font-size: larger;
  font-weight: 600;
}

.day-span {
  margin: 0.61rem;
}

.line-graph {
  border: 1px solid #eff1f6;
  margin: 0.45rem;
  width: 59rem;
}

.line-word {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: small;
}

.line-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  /* margin-left: auto; */
}

.line-paragraph {
  padding-left: 1rem;
}

.line-num {
  padding-left: 1rem;
  padding-top: 1rem;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #eff1f6; */
  /* width: 39rem; */
  margin-left: 0.5rem;
  padding-top: 1rem;
}

.doughnut-graph1 {
  width: 28rem;
  height: 15rem;
  border: 1px solid #eff1f6;
  margin-right: 2rem;
  box-sizing: border-box;
}

.graph1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph1-text {
  font-size: small;
  margin-top: 1.2rem;
  padding-left: 2rem;
}

.graph1-p {
  color: #ff5403;
  margin-top: 1.2rem;
  padding-right: 2rem;
}

.doughnut-graph2 {
  width: 29rem;
  height: 15rem;
  margin-right: 3rem;
  border: 1px solid #eff1f6;
  box-sizing: border-box;
}

.dough {
  margin-left: 5rem;
  transform: skew(0);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .logo-sidebar {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eff1f6;
    padding: 1rem;
  }

  .sidebar-list1 {
    margin-top: 1rem;
  }

  .sidebar-owner {
    flex-direction: column;
    padding-top: 2rem;
  }

  .owner-name {
    margin: 0.5rem 0 0.2rem 0;
  }

  .owner-horiz {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .subContent {
    margin-bottom: 1rem;
    font-size: medium;
  }

  .firstTitle {
    font-size: medium;
  }

  .nav {
    padding-left: 1rem;
  }

  .dashboard-headers {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .dashboard-title {
    font-size: medium;
  }

  .dashboard-subtitle {
    font-size: small;
  }

  .chart {
    height: 200px;
  }
}

/* Media queries for tablet-sized devices */
@media only screen and (min-width: 768px) {
  .layout {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-sidebar {
    width: 16rem;
    height: 100%;
    border-right: 1px solid #eff1f6;
    border-bottom: none;
  }

  .sidebar-list1 {
    margin-top: 1rem;
  }

  .sidebar-owner {
    padding-top: 2rem;
  }

  .nav {
    padding-left: 2rem;
  }
}

/* Media queries for desktop-sized devices */
@media only screen and (min-width: 992px) {
  .layout {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-sidebar {
    width: 18rem;
    height: 100%;
    border-right: 1px solid #eff1f6;
    border-bottom: none;
  }

  .sidebar-list1 {
    margin-top: 2rem;
  }

  .sidebar-owner {
    padding-top: 5rem;
  }

  .nav {
    padding-left: 3rem;
  }
}

/* Media queries for large desktop-sized devices */
@media only screen and (min-width: 1200px) {
  .logo-sidebar {
    width: 20rem;
    height: 100%;
  }

  .sidebar-owner {
    padding-top: 7rem;
  }

  .nav {
    padding-left: 4rem;
  }
}
